@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

body:not(footer) {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-variant: common-ligatures tabular-nums;
}
main {
    padding: 16px;
    margin-bottom: 100px;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 0px;
    position: sticky;
    bottom: 0px;
    background-color: #ADCF9F;

}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    color:white;
    background-color: #FF6464;
}

a:hover {
    color:green
}

a {
    text-decoration: none;
    color:#f8f8f8;
  }

h1{
    color:#487228;
}

.my-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 30px;
    grid-template-rows:repead(2,1fr);
    row-gap:20px;

}

.my-small-box {
    transition: box-shadow 0.5;
}

.my-small-box:hover{
    box-shadow: 0px 2px 4px 2px rgba(95, 95, 97, 0.2);
}

.grey-bakgound {
    background-color:rgb(224, 220, 220);
}

h1{
    font-family: 'Alkalami', serif;
    font-size: 40px;
}

header {
    text-shadow: rgb(238, 237, 231) 1px 0 10px;
}
